<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log-path">src/main/resources/archive</Property>
    </Properties>
    <Appenders>
        <File name="FileAppender" fileName="${log-path}/filelog.log" >
            <MarkerFilter marker="START" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <pattern>
                    [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.monzag.mountaintripmanager.common.AppLogger" level="debug" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Root level="info">
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>